body {
    font-family: 'Roboto', Times;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
}

body > header, 
body > div,
body > footer {
    flex: 1;
}

.content {
    display: flex;
    flex-direction: column;
}


.content > div {
    flex: 1; /* Ensure equal height for all sections */
}

header, 
footer {
    height: 50px;

}

header,
.hero {
    background-color: #1F2937;
    color: white;

}

a {
    text-decoration: none;
    color: white;
}

header,
.Hero,
.Info,
.Quote,
.Call-to-action {
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 25px;
    padding-bottom: 25px;
}



header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    flex: 0 1 auto;
}

.nav-links {
    display: flex;
    gap: 15px;
}

.Hero .column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.Hero {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    background-color: #1F2937;
    color: white;
    flex: 1 1 0;
    
}

.Hero .column button {
    flex: 0;
    width: 100px;
    background-color: #3882f6;
    appearance: none;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    touch-action: manipulation;
    padding: 5px 10px;

}

.main-text {
    font-weight: 900;
    font-size: 48px;
    color: white;
}

.secondary-text {
    font-size: 18px;
}


.cheers-image img {
    width: 300px;
    height: auto;
    border-radius: 10px;
    
}

.Info {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Info-header {
    font-size: 36px;
    font-weight: 900;
    align-self: center;
}

.Info .panel {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;
    padding: 20px;
}

.panel .image {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10px;
    max-width: 150px;
    }

.panel .image img {
    width: 200px;
    height: 200px;
    border-radius: 10%;
}

.panel .image div {
    text-align: center;
    word-wrap: break-word;
}

.Quote {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Quote .Text {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.Quote .Author {
    font-size: 14px;
    color: #1F2937;
    padding-top: 10px;
}

.Author {
    align-self: center;
}

.Call-to-action {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

.banner {
    display: flex;
    justify-content: space-between;
    padding: 3px;
    background-color: #3882f6;
    flex: 1;
    border-radius: 5px;
    padding: 20px;


}

.section-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.section-one .text {
    font-weight: 900;
    font-size: larger;
}

.section-one .signup {
    font-size: small;
}



.section-two button{
    appearance: none;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 5px;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    touch-action: manipulation;
    padding: 5px 10px;

    
    }

footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    padding: 25px;

}

